#Ukraine {
  fill: #3184ea;
  z-index: 1;
}

#KyivCity, #SevastopolCity {
  fill: #3184ea;
}

.mapBackground {
  stroke: #3184ea;
  stroke-width: 1;
  opacity: 1;
  cursor: pointer;
}

.mapBackground:not(:hover) {
  fill: #97c2f8;
}

.pointerCircle {
  fill: #f00;
}

.cityName {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;

  font-size: 14px;
  fill: #fff;
  /* font-weight: bold;
  font-size: 0.7em;
  fill: #000;
  text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0,
    white 1px -1px; */
}

#Kiev:hover ~ .Kiev,
#KyivCity:hover ~ .cityKiev,
#SevastopolCity:hover ~ .citySevastopol,
#Crimea:hover ~ .citySimferopol,
#Cherkasy:hover ~ .cityCherkasy,
#Chernivtsi:hover ~ .cityChernivtsi,
#Dnipropetrovsk:hover ~ .cityDnipro,
#Donetsk:hover ~ .cityDonetsk,
#Ivano-Frankivsk:hover ~ .cityIvano-Frankivsk,
#Kharkiv:hover ~ .cityKharkiv,
#Kherson:hover ~ .cityKherson,
#Khmelnytskyi:hover ~ .cityKhmelnytskyi,
#Kirovohrad:hover ~ .cityKropyvnytskyi,
#Luhansk:hover ~ .cityLuhansk,
#Lviv:hover ~ .cityLviv,
#Mykolaiv:hover ~ .cityMykolaiv,
#Odessa:hover ~ .cityOdessa,
#Poltava:hover ~ .cityPoltava,
#Rivne:hover ~ .cityRivne,
#Sumu:hover ~ .citySumu,
#Chernihiv:hover ~ .cityChernihiv,
#Ternopil:hover ~ .cityTernopil,
#Zakarpattia:hover ~ .cityUzhhorod,
#Vinnytsia:hover ~ .cityVinnytsia,
#Volyn:hover ~ .cityLutsk,
#Zaporizhia:hover ~ .cityZaporizhia,
#Zhytomyr:hover ~ .cityZhytomyr {
  visibility: visible;
  opacity: 1;
}
