@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Rutenia";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Rutenia2008VasylChebanyk.woff2) format("woff2");
}
